@model List<Song>

<div class="container">
	<div class="row pt-4">
		<div class="col-6 pb-3">
			<h2 class="text-primary">
				Song List
			</h2>
		</div>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					Image
				</th>
				<th>
					Title
				</th>
				<th>
					Author
				</th>
				<th>
					Chorus
				</th>
				<th>
					Genres
				</th>
				<th>
					Price
				</th>
				@if (User != null && User.IsInRole("Seller"))
				{
					<th>

					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderBy(u => u.Author))
			{
				<tr>

					@if (User != null && User.IsInRole("Seller"))
					{
						<td><img src="@obj.ImageUrl" height="100px" width="125px" style="border-radius:5px; border:1px solid #bbb9b9;" /></td>
						<td width="10%">@obj.Title</td>
						<td width="10%">@obj.Author</td>
						<td width="25%">@obj.Description</td>
						<td width="15%">@obj.Type</td>
						<td width="5%">€ @obj.Price</td>
						<td width="25%">
							<div class="w-75 btn-group" role="group">
								<a asp-controller="Song" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-1">
									<i class="bi bi-pencil-square"></i> Edit
								</a>
								<a asp-controller="Song" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-1">
									<i class="bi bi-trash-fill"></i> Delete
								</a>
							</div>
						</td>
					}
					else if (User != null && User.IsInRole("Buyer"))
					{
						<td><img src="@obj.ImageUrl" height="100px" width="125px" style="border-radius:5px; border:1px solid #bbb9b9;" /></td>
						<td width="15%">@obj.Title</td>
						<td width="15%">@obj.Author</td>
						<td width="35%">@obj.Description</td>
						<td width="20%">@obj.Type</td>
						<td width="5%">€ @obj.Price</td>
					}
				</tr>
			}
		</tbody>
	</table>

</div>
